@font-face {
    font-family: 'Matrix II Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Matrix II'), url('../font/MatrixII/MatrixIIRegular.otf') format('otf');
}

.vbox {
    -fx-background-color: #bb792d;
    -fx-padding: 100;
    -fx-vgap: 40px;
    -fx-text-fill: white;

}

.button {
    -fx-font-size: 20.0;
    -fx-background-color: #bb792d;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
