@font-face {
    font-family: 'Matrix II';
    font-style: normal;
    font-weight: normal;
    src: local('Matrix II'), url('../font/MatrixII/MatrixIIRegular.otf') format('otf');
}

@font-face {
    font-family: 'Matrix II Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Matrix II'), url('../font/MatrixII/MatrixIIBold.otf') format('otf');
}

.root {
    -fx-font-family: Matrix II;
    -fx-font-size: 20.0;
    -fx-background-image: url(../image/main_background.jpg);
}

#FirstTitle {
    -fx-font-size: 64.0;
}

#SecondTitle {
    -fx-font-size: 40.0;
}

#Button {
    -fx-font-size: 24.0;
    -fx-background-color: #bb792d;
    -fx-background-radius: 10;
}

#ExitButton {
    -fx-font-size: 28.0;
    -fx-background-color: #9e376c;
    -fx-background-radius: 10;
}