@font-face {
    font-family: 'Matrix II Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Matrix II'), url('../font/MatrixII/MatrixIIRegular.otf') format('otf');
}

.root {
    -fx-border-width: 7;
    -fx-border-radius: 10;
    -fx-border-color: #bb792d;
    -fx-background-radius: 14;
    -fx-background-color: #00062b;
    -fx-font-family: "Matrix II Regular";
}

#title {
    -fx-font-size: 28;
    -fx-text-fill: white;
}

#button {
    -fx-background-color: #bb792d;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-cursor: hand;
}

#closeButton {
    -fx-background-color: #9e376c;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-cursor: hand;
}

#field {
    -fx-background-color: #103188;
    -fx-text-inner-color: white;
    -fx-font-size: 16;
}

#container {
    -fx-border-radius: 20;
    -fx-border-color: #bb792d;
    -fx-border-width: 7;
}

.scroll-bar:vertical {
    -fx-background-color: #103188;
}