@font-face {
    font-family: 'Matrix II Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Matrix II'), url('../font/MatrixII/MatrixIIRegular.otf') format('otf');
}

#board {
    -fx-font-family: "Matrix II Regular";
    -fx-font-size: 15;
    -fx-background-image: url(../image/GamePictures/fie_normal.bmp);
    -fx-background-size: cover;

}
