@font-face {
    font-family: 'Matrix II Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Matrix II'), url('../font/MatrixII/MatrixIIRegular.otf') format('otf');
}

#secondPane {
    -fx-font-family: "Matrix II Regular";
    -fx-font-size: 15;
    -fx-background-color: #103188;
    -fx-background-size: cover;
}

#label {
    -fx-font-size: 15;
    -fx-text-fill: white;
}
#gamePane{
    -fx-background-color:  #00062b;
    -fx-background-radius: 15;
}

#Cell {
    -fx-border-color: white;
    -fx-border-radius: 5;
}
.label{
    -fx-text-fill: white;
    -fx-font-size: 10;
}
#description{
    -fx-text-fill: white;
    -fx-font-size: 15;
}
#box{
    -fx-background-color:  #00062b;
    -fx-background-radius: 15;
}
.button {
    -fx-background-color: #bb792d;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 10;
}
