@font-face {
    font-family: 'Matrix II Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Matrix II'), url('../font/MatrixII/MatrixIIRegular.otf') format('otf');
}

#secondPane {
    -fx-font-family: "Matrix II Regular";
    -fx-font-size: 15;
    -fx-background-color: #103188;
    -fx-background-size: cover;
}
#mainDeckPane{
    -fx-background-color: #00062b;
    -fx-background-radius: 15 ;
}
#sideDeckPane{
   -fx-background-color: #00062b;
    -fx-background-radius: 15 ;
}
#cardBox{
    -fx-background-color: #00062b;
}
#description{
    -fx-text-fill: white;
    -fx-font-size: 15;
}
#menuTitle {
    -fx-font-size: 36;
    -fx-text-fill: #ffd500;
}
.button {
    -fx-background-color: #bb792d;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-cursor: Hand;
}
#menuBar {
    -fx-border-color: #ffd500;
    -fx-border-radius: 20;
}