@font-face {
    font-family: 'Matrix II Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Matrix II'), url('../font/MatrixII/MatrixIIRegular.otf') format('otf');
}

#secondPane {
    -fx-font-family: "Matrix II Regular";
    -fx-font-size: 15;
    -fx-background-image: url(../image/main_background.jpg);
    -fx-background-size: cover;
}

#firstBox {
    -fx-background-color: #00062b;
    -fx-background-radius: 30;
}

#button {
    -fx-font-size: 20.0;
    -fx-background-color: #bb792d;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#menuBar {
    -fx-border-color: #ffd500;
    -fx-border-radius: 20;
}

#menuTitle {
    -fx-font-size: 36;
    -fx-text-fill: #ffd500;
}





/*New Windows Css*/
#window {
    -fx-border-width: 7;
    -fx-border-radius: 10;
    -fx-border-color: #bb792d;
    -fx-background-radius: 14;
    -fx-background-color: #00062b;
    -fx-font-family: "Matrix II Regular";
}

#windowTitle {
    -fx-font-size: 28;
    -fx-text-fill: white;
}

#windowButton {
    -fx-background-color: #bb792d;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-cursor: hand;
}

#windowCloseButton {
    -fx-background-color: #9e376c;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#windowField {
    -fx-background-color: #103188;
    -fx-text-inner-color: white;
    -fx-font-size: 16;
}

#windowContainer {
    -fx-border-radius: 20;
    -fx-border-color: #bb792d;
    -fx-border-width: 7;
}