@font-face {
    font-family: 'Matrix II Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Matrix II'), url('../font/MatrixII/MatrixIIRegular.otf') format('otf');
}

.root {
    -fx-font-family: "Matrix II Regular";
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-background-color: #00062b;
    -fx-background-size: cover;
}

#secondPane {
    -fx-font-family: "Matrix II Regular";
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-background-color: #00062b;
    -fx-background-size: cover;
}

#firstBox {
    -fx-background-color: #00062b;
    -fx-font-family: "Matrix II Regular";
    -fx-font-size: 15;
    -fx-text-fill: white;
}

#secondBox {
    -fx-background-color: #103188;
    -fx-background-radius: 30;
}

#menuBar {
    -fx-border-color: #ffd500;
    -fx-border-radius: 20;
}

#menuTitle {
    -fx-font-size: 36;
    -fx-text-fill: #ffd500;
}

#label {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-background-color: #323c46;
    -fx-background-radius: 10;
}

#button {
    -fx-font-size: 20.0;
    -fx-background-color: #bb792d;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

#numberOfCards {
    -fx-font-size: 15.0;
    -fx-background-color: #9e376c;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

#price {
    -fx-background-color: #323c46;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

#numberOfCoins {
    -fx-font-size: 15;
    -fx-background-color: #20262b;
    -fx-background-radius: 20;
    -fx-text-fill: white;
}

#coin {
    -fx-font-size: 13;
    -fx-background-color: #323c46;
    -fx-background-radius: 20;
    -fx-text-fill: #ffd500;
}

#exitButton {
    -fx-font-size: 20.0;
    -fx-background-color: #9e376c;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.scroll-bar:vertical {
    -fx-background-color: #00062b;
}
.scroll-pane > .viewport{
    -fx-background-color: #00062b;
    -fx-alignment: CENTER;
}